{% extends "padre.html" %}
{% load static %}
{% block titulo1 %}Pre Entrega 3{% endblock %} 
{% block titulo2 %}Guillermo Jaeger {% endblock %} 
{% block titulo3 %} App Compras {% endblock %} 

{% block titulocontenido1 %} Clientes {%endblock%}   
{% block titulocontenido2 %} Ingrese el Cliente {%endblock%} 
{% block contenido1 %}
    <form action="{% url 'clientes' %}" method="post">{% csrf_token %}
        <table>
        {{ formulario.as_table }}
         </table>

    <input type="submit" value="Guardar Cliente">
   
    <ul>

    
        </ul>
    </form>    
    <h3>{{ mensaje }}</h3>

{% endblock %} 
{% block titulocontenido3 %} Listado de Clientes {%endblock%} 
{% block contenido2 %} 
    {% for cliente in clientes %}
    <table>
    <li>{{cliente.id}} - {{cliente.nombre}} - {{cliente.direccion}} - {{cliente.cuit}}</li>
    </table>   
    {% endfor%}     

{% endblock %} 