{% extends "padre.html" %}
{% load static %}
{% block titulo1 %}Pre Entrega 3{% endblock %} 
{% block titulo2 %}Guillermo Jaeger {% endblock %} 
{% block titulo3 %} App Compras {% endblock %} 

{% block titulocontenido1 %} Clientes {%endblock%}   
{% block titulocontenido2 %} Listado de Clientes  {%endblock%} 
{% block contenido1 %} 
    {% for cliente in clientes %}
     <table>
        <li>{{cliente.id}} - {{cliente.nombre}} - {{cliente.direccion}} - {{cliente.cuit}}</li>
    </table>   
    {% endfor%}     

{% endblock %} 
{% block contenido2 %}  {% endblock %} 