{% extends "padre.html" %}
{% load static %}
{% block titulo1 %}Pre Entrega 3{% endblock %} 
{% block titulo2 %}Guillermo Jaeger {% endblock %} 
{% block titulo3 %} App Compras {% endblock %} 
{% block titulocontenido1 %} Resultado de la Busqueda por Cliente {%endblock%}   
{% block titulocontenido2 %} {%endblock%} 
{% block contenido1 %}
    {% if clientes %}
        {% for cliente in clientes %}
            <h3>{{cliente.nombre}} - {{cliente.cuit}}</h3>
        {% endfor %}
    {% else %}
        <h3> No se han encontrado Resultados</h3>
    {% endif %}
{% endblock %} 


{% block contenido2 %}  {% endblock %} 